.header {
  display: flex;
  background-color: #ffffff14;
  align-items: flex-end;
  margin: 0;
}

.hearth {
  height: 14rem;
  width: 14rem;
  background-color: var(--color-2);
  box-shadow: var(--shadow-1);
  margin: 2rem;
}

.hearth i {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 4.5rem;
}

.texto {
  flex-direction: column;
  justify-content: flex-end;
}

.texto p {
  margin-top: 7rem;
}

.texto h2 {
  font-size: 5rem;
  padding: 0px;
  margin: 0;
}

.content-text .sub-title {
  margin: 0;
  font-weight: 600;
}

.content-text .count-tracks {
  font-weight: 300;
  opacity: 0.7;
  padding-left: 0.5rem;
}
